
body {
  margin: 0;
  padding: 0;
  background-color: #F5F2F2;
  color: #4d4d4d;
  font-size: 1em;
  line-height: 1.4; 
  font-family: 'PT Sans', sans-serif;
  
}

a {
  color: #22211F;
  text-decoration: none;
}

a:hover
{
  color: #066794;
}

img {
  vertical-align: middle; 
  width: 100%;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0; }

aside {
  background: url("../images/stressed_linen/stressed_linen.png") repeat;
  background-color: #000;
  -webkit-box-shadow: 3px 0px 8px 0px #8e927e;
  -moz-box-shadow: 3px 0px 8px 0px #8e927e;
  box-shadow: 3px 0px 8px 0px #8e927e;
}

aside div#user_meta {
  padding: 30px;
  text-align: center;
  
}
aside div#user_meta h3 {
  margin: 15px 0 5px 0;
}

aside div#user_meta h3 a {
  color: #B3A682;

}
aside div#user_meta h3 a:hover {
  color: #fff;

}
aside div#user_meta p {
  margin: 0 0 15px 0;
  font-size: 14px;
  color: #BFA996;
  
}
aside div#user_meta ul {
  margin: 40px 0 0 0;
  padding-left: 0;
  font-size: 16px;
  list-style-type: none;
}
aside div#user_meta ul li {
  display: inline;
  line-height: 3em;
}


aside div#user_meta img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid #00344c;
  
}

main {
  margin-top: 15px
}


main header {
  padding: 40px;
  border-top: rgba(30, 67, 108, 0.2) 1px solid;
  border-bottom: rgba(30, 67, 108, 0.2) 1px solid;
}
main header p {
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
}
main article {
  max-width: 640px;
  padding: 0 10px
}

main article p, h3 {
  margin: 5px;
  font-weight: normal;
}

main article div.article_text {
  line-height: 1.375em;
}
main article div.article_text a {
  text-decoration: underline;
  color: rgba(45, 66, 69, 1);
}
main article div.article_text code {
  margin: 2px;
  padding: 0;
  color: #000000;
  font-size: 14px;
  font-family: 'PT Mono', monospace;
  background: #eeeeee;
}
main article div.article_text pre {
  margin: 22px 2px 22px 2px;
  padding: 2px;
  color: #000000;
  border-left: 3px solid #0e94ec;
  font-size: 14px;
  font-family: 'PT Mono', monospace;
  background: #eeeeee;
  line-height: 1.125em;
  overflow-x: auto;
}
main article div.article_text blockquote {
  margin: 22px 2px 22px 2px;
  padding-left: 40px;
  color: #999999;
  font-style: italic;
}
main article div.gist {
  line-height: .875em;
}
main article div.article_meta {
  font-size: 12px;
  color: #8A825D;
}
main footer {
  border-top: rgba(30, 67, 108, 0.2) 1px solid;
  margin-top: 35px;
}
main footer a.button_accent {
  padding: 10px;
  border: 2px solid #0e94ec;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  text-transform: uppercase;
  color: #0e94ec;
  font-size: 18px;
}
main footer a.button_accent:hover {
  color: #ffffff;
  background-color: #0e94ec;
}
main footer a.button_accent:active {
  color: #ffffff;
  background-color: #0e94ec;
}
main div#ending_message {
  border-top: rgba(30, 67, 108, 0.2) 1px solid;
  padding: 0 40px 0 40px;
  color: #999999;
  font-size: 10px;
}


@media screen and (min-width: 1024px) {
  aside {
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-right: rgba(30, 67, 108, 0.2) 1px solid;
  }
  aside h3 {
    margin: 10px 0 0 0;
  }
  aside {
    max-width: 200px;
    text-align: center;
  }
  aside div#user_meta ul li {
    display: block;
  }

  aside div#user_meta ul li a {
    padding: 5px 15px 5px 15px;
    border: 2px solid #00344c;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    color: #BFA996;
  }


  aside div#user_meta ul li a:hover {
    padding: 5px 15px 5px 15px;
    border: 2px solid #066794;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    color: #DAD1CA;
  }

  main {
    width: 75%;
    position: absolute;
    top: 0;
    left: 20%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  main article {
    max-width: 640px;
  }
  main header {
    border-top: 0;
  }
}


@media screen and (max-width: 1024px) {
  aside div#user_meta {
    padding: 15px;
    text-align: left;
    background-color: transparent;

    
  }
  aside div#user_meta h3 {
    margin: 15px 0 5px 120px;
  }

  aside div#user_meta p {
    margin: 0 0 15px 120px;
  }
    


  aside div#user_meta img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid rgba(119, 185, 221, 0.35);
    position: absolute;
    left: 50px;    
  }  


  aside div#user_meta ul li a {
    padding: 5px 5px 5px 5px;
    border-bottom: 2px solid #00344c;
    margin: 5px;
    color: #BFA996;
  }

  aside div#user_meta ul li a:hover {
    padding: 5px 5px 5px 5px;
    border-bottom: 2px solid #066794;
    margin: 5px;
    color: #DAD1CA;
  }

}